@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 20px;
    background: linear-gradient(to left, lightblue, lightgreen);
    font-family: "Montserrat", sans-serif;
}

.heading {
    color: darkblue;
    text-align: center;
    padding-top: 10px;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.6rem;
}

.info-text {
    text-align: center;
    color: darkblue;
    font-size: 18px;
    font-style: italic;
}

.btn{
    height: 228px;
    width: 80px;
    border-color: rgba(255, 255, 255, 0.37);
    background: rgba(255, 255, 255, 0.27);
    border-radius: 15px;
    font-size: 70px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn:hover{
    background: rgba(255, 255, 255, 0.55);
    color: rgba(0, 0, 0, 0.6);
    transition: all 100ms ease-in-out;
}